.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
}


body{
  text-align: center
}

.wrapper{
  width: 90%;
  margin: 0 auto
}

.banner-area{
  background-image: url(../../../public/images/Logic-Perfect-NB.jpg);
  background-size: cover;
  background-position: center, center;
  top: 90px;
  width:100%;
  height: 40vh;
  position: fixed;
}

.banner-area:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #130f40;
  opacity: .7;
  z-index: -1;
}

.banner-area h2{
  font-family: 'Permanent Marker', cursive;
  padding-top: 6%;
  font-size: 80px;
  color: white;
}

.content-area{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 130px;
  position: relative;
  top: 350px;
  margin-bottom: -20px;
  /* z-index: -1; */
  background-color: rgb(243, 243, 243);
}

.content-area h2 {
  font-size: 40px;
  margin: 0;
  padding-top: 20px;
}

.accordion {
  margin-top: 370px;
  /* height: 160px; */
  margin-bottom: -15px;
  padding-bottom: 60px;
  background-color: white;
  position: relative;
  text-align: left;
  text-indent: 0px;
  padding-left: 100px;
  padding-top: 25px;
  /* z-index: 2; */
}


#header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

#project-feed {
  background-color: white;
  width: 100%;
  position: relative;
}

#header-logo-text{
  font-family: 'Permanent Marker', cursive;
  padding-left: 55px;
  margin-top: -37px;
  color: rgb(18,36,66)
}

#detail-image {
  padding-top: 100px;
}

#detail-segment {
  width: 70vh;
  margin: auto;
  margin-top: 15px
}

#comment {
  width: 70vh;
  margin: auto;
  margin-top: 15px
}

#detail-title {
  margin-top: 10px;
  font-family: 'Permanent Marker', cursive;
}

#feed-title {
  font-family: 'Permanent Marker', cursive;
  padding-left: 140px;
}