.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
}


body{
  text-align: center
}

.wrapper{
  width: 90%;
  margin: 0 auto
}

.banner-area{
  background-image: url(../../../public/images/Logic-Perfect-NB.jpg);
  background-size: cover;
  background-position: center, center;
  top: 75px;
  width:100%;
  height: 40vh;
  position: fixed;
}

.banner-area:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #130f40;
  opacity: .7;
  z-index: -1;
}

.banner-area h2{
  font-family: 'Permanent Marker', cursive;
  padding-top: 6%;
  font-size: 80px;
  color: white;
}

.content-area{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 130px;
  position: relative;
  top: 350px;
  margin-bottom: -20px;
  /* z-index: -1; */
  background-color: rgb(243, 243, 243);
}

.content-area h2 {
  font-size: 40px;
  margin: 0;
  padding-top: 20px;
}

.accordion {
  margin-top: 370px;
  /* height: 160px; */
  margin-bottom: -15px;
  padding-bottom: 60px;
  background-color: white;
  position: relative;
  text-align: left;
  text-indent: 0px;
  padding-left: 100px;
  padding-top: 25px;
  /* z-index: 2; */
}

#login-signup-title{
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px 4px #000000;
}

#login-signup-body{
  background-color: rgb(71, 74, 121);
  height: 100vh;

}

#login-container{

  background-color: white;
  max-width: 500px;
  max-height: 600px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* #start-project-container{
  background-color: white;
  width: 100%;
  margin: auto;
}

#start-project-subcontainer{
  background-color: blue;
  width: 700px;
  margin: auto;
} */

#add-track-container {
  background-color: rgb(49, 60, 82);
  max-width: 450px;
  margin: auto;
  border-radius: 15px; 
}

#header {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: rgb(174, 176, 201);
}

#project-feed {
  background-color: white;
  width: 100%;
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: 370px;
  margin-left: auto;
  margin-right: auto;
  /* margin-right: 0; */
}

#header-logo-text{
  font-family: 'Permanent Marker', cursive;
  color: rgb(49, 60, 82);
  text-shadow: 1px 1px 2px #000000;
  font-size: 45px
}

#header-logo-text:hover{
  font-family: 'Permanent Marker', cursive;
  color: rgb(229, 230, 240);
  text-shadow: 1px 1px 2px #000000;
  font-size: 45px
}

#logout{
  color: rgb(49, 60, 82);
}
#logout:hover{
  color: white;
  text-shadow: 1px 1px 2px #000000;
}

#detail-image {
  padding-top: 100px;
}

#detail-segment {
  width: 70vh;
  margin: auto;
  margin-top: 15px
}

#comment {
  width: 70vh;
  margin: auto;
  margin-top: 15px
}

#detail-title {
  margin-top: 10px;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}

#response-tracks {
  margin-top: 30px;
  font-family: 'Permanent Marker', cursive;
  font-size:20px;
}

#add-a-track {
  margin-top: 30px;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: -40px;
  font-size:25px;
  color: white
}

#feed-title {
  font-family: 'Permanent Marker', cursive;
  margin-left: 140px;
}

#projectSubmitForm {
  padding-top: 10px;
  position: relative;
  background-color: white;
  width: 100%;
  margin: 0;
}

#delete-button {
  background-color: lightgray;
  font-size: 10px;
  position: relative;
  left: 245px;
  bottom: 40px;
}

#card-image{
  border: 5px solid;
  border-color: lightgray;
}

#add-project-title{
  background-color: white;
  position: relative;
  margin-top: -20px;
  padding-top: 10px;
  margin-bottom: 15px;
  top: 20px;
  font-family: 'Permanent Marker', cursive;
  margin-left: auto;
}

#comment-form{
  padding-top: 40px
}

#button{
  background-color:rgb(228, 229, 240)
}
#button:hover{
  background-color:rgb(83, 109, 156)
}

#loading {
  top: 300px;
}